<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.demo1">

    <!-- android:label默认可以被覆盖 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="standard"
            android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleInstance"
            android:label="This is SecondActivity">
            <intent-filter>

                <!-- 定义一个action -->
                <!-- 注意包名 -->
                <action android:name="com.example.administrator.ACTION_START" />

                <!-- 默认 -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- 定义一个category -->
                <category android:name="com.example.administrator.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity"
            android:label="This is SecondActivity">

            <intent-filter>
                <!--Intent.ACTION_VIEW常量-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <!--数据的协议必须是http协议 这样ThirdActivity就可以和浏览器一样响应Intent
                貌似不行，还是直接用浏览器打开-->
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>